
<ion-navbar *navbar>
<button menuToggle>
	<ion-icon name="menu"></ion-icon>
</button>
<ion-title>Alle Meldungen</ion-title> 
</ion-navbar>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let category of categories" (click)="categoriyTapped($event, item)">
      <ion-icon name="{{category.icon}}" item-left></ion-icon>
      {{category.title}}
      <div class="item-note" item-right>
        {{category.count}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>


</ion-content>