<ion-header>

  <ion-toolbar>
    <ion-title>
      {{submission.category}}
    </ion-title>
    <ion-buttons end>
      <button icon-right (click)="setFavorit()">
        <span primary>Favorit</span>
        <div *ngIf="Property"  
        
        <ion-icon name="star" showWhen="android,windows"></ion-icon>
      </button>
      <button icon-right (click)="dismiss()">
        <span primary>Schließen</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>



<ion-content>
  <div [ngSwitch]="view">
    <div *ngSwitchCase="'info'">
      <div class="modal-description" [innerHTML]="submission.comment"></div>
    </div>
    <div *ngSwitchCase="'map'">
      <div class="modal-description">
        Hier wird eine Karte angezeigt

      </div>
    </div>

    <div *ngSwitchCase="'images'">
      <div class="modal-description">
        <ion-card *ngFor="let photo of getImages()">
          <img [src]="getImage(photo.path)" />

          <ion-row no-padding>
            <ion-col text-right>
              <button ion-button (click)='delete(photo.path)' clear small color="danger">
         		  <ion-icon name='trash'></ion-icon>
					    Löschen
				      </button>
            </ion-col>
          </ion-row>
        </ion-card>

      </div>
    </div>
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar [attr.primary]="isAndroid ? '' : null" no-border-top>
    <ion-segment [(ngModel)]="view" [attr.light]="isAndroid ? '' : null">
      <ion-segment-button value="info">
        Beschreibung
      </ion-segment-button>
      <ion-segment-button value="map">
        Karte
      </ion-segment-button>
      <ion-segment-button value="images">
        Fotos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-footer>