
    .getting-started {
    .start-icon {
       color: red;
        // font-size: 4rem;
        // width: 70px;
        }

    .help-icon {
        color: lightcoral; 
        float: right; 
        // font-size: 4rem; 
    //    padding-right: 10px;
    }

    .start-title {
        // font-size: 3rem;
        font-weight: 300; 
        color: #333;  
    }


    }
        
   
