<ion-header>

	<ion-navbar>
		<button menuToggle>
	    <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Neue Meldung einreichen</ion-title>

		 <ion-buttons end>
			<button light>
	    <ion-icon name="help"></ion-icon>
    		</button>
		 </ion-buttons>


	</ion-navbar>
</ion-header>

<ion-content padding>
	<h2> Bild(er) hinzufügen </h2>
	<p>
		<button (click)="pickImage()">In Galerie auswählen</button>
		<button (click)="takeImage()">Neues Foto</button>
	</p>

	<ion-card *ngFor="let photo of getImages()">
		<img [src]="photo.base64Image" *ngIf="photo.base64Image" />
			
		<ion-row no-padding>
			<ion-col text-right>
				<button clear small danger>
         		<ion-icon name='trash'></ion-icon>
					Löschen
				</button>
			</ion-col>
		</ion-row>
	</ion-card>
</ion-content>

<ion-footer>
 <ion-buttons end>
		<button (click)="step2()">
			<ion-icon name='arrow-forward'></ion-icon>
			Weiter
			 
     	</button>
		<button light (click)="cancel()">
		     <ion-icon name='close'></ion-icon>
			 Abbrechen
	    </button>
 </ion-buttons>
</ion-footer>